<div class="user">

<h1>Create an Account</h1>

<!-- Plain HTML version, for reference
<form accept-charset="UTF-8" action="/users" method="post" >
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
	<label for="user_username">Username</label>
	<input id="user_username" name="user[username]" type="text">
	
	<label for="user_email">Email</label>
	<input id="user_email" name="user[email]" type="email">
	
	<label for="user_password">Password</label>
	<input id="user_password" name="user[password]" type="password">
	
	<input type="submit">
</form>
-->

<%= form_for(@user) do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username, placeholder: "Jane Doe" %>
	
	<%= f.label :email, "Email address" %>
	<%= f.text_field :email, placeholder: "jane@example.com" %>
	
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.submit "Submit" %>
<%end%>

</div>